.App{
  background-color:rgb(38, 38, 38);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
display: inline-block;
transform: rotateX(45deg);
}
.card{
  display: flex;
  gap: 30px;
  align-items: flex-start;
  color: white;
  background-color:rgba(0, 0, 0, 0.445);
  margin: 1%;
  width: 700px;
  position: relative;
  border-radius: 5px;
}


.List{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}
.button{
position: absolute;
right: 1%;
bottom: 2%;
width: 150px;
height: 50px;
border: none;
border-radius: 25px;
color: black;
background-color: rgb(246, 188, 43);
font-weight: bold;
}
.footer{

 display: flex;
 justify-content: center;
 align-items: flex-end;
  background-color:rgba(0, 0, 0, 0.445);
  color: white;
  padding: 1%;
 
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: black;
  color: white;
}
.Navbar{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: inline-block;
  transform: rotateX(45deg)
}
.text{
  font-size: larger;
}
input{
  height: 25px;
  border: none;
  border-radius: 50px;
  width: 200px;
  z-index: 2;
}
input::placeholder{
  text-align: center;
}
.menu{
  position: absolute;
  top: 2.9%;
  right: 4%;
  background-color: white;
  color: black;
  width: 200px;
  z-index: 1;
  border: none;
  padding: 0%;
  padding-top: 1%;
}
ul{
  list-style-type: none;
}
li:hover{
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  
}